<header class=' corner-below border shadow-sm bg-white mb-3 '>
  <!-- CSS only -->

  <nav class="mx-3 navbar navbar-expand-lg navbar-light  bg-white">
    <a class="navbar-brand" routeLink='/'>
      <img src="../assets/Images/writing.png" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand text-muted text-left" href="#">Post Today</a>

    <!-- <div class="collapse navbar-collapse" id="navbarNav">

    </div> -->
    <div class="ms-auto dropdown">
      <button class="btn border border-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        Hi, user
      </button>
      <ul class="dropdown-menu border " aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" routerLink="/home">Your Posts</a></li>
        <li><a class="dropdown-item" routerLink="/addPost">Add a post</a></li>
        <!-- <li><a class="dropdown-item" routerLink=''></a></li> -->
      </ul>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>