<div class="row">
    <div class="ms-3  col-md-9 row">
    <div class="my-4 mx-2 corner card shadow border-success mb-3" style="width: 18rem">
        <div class="card-header bg-transparent border-success">Title</div>
        <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
      
    </div>
    <div class="my-4 mx-2 corner card shadow border-success mb-3" style="width: 18rem">
        <div class="card-header bg-transparent border-success">Title</div>
        <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
      
    </div>
    <div class="my-4 mx-2 corner card shadow border-success mb-3" style="width: 18rem">
        <div class="card-header bg-transparent border-success">Title</div>
        <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
      
    </div>
    <div class="my-4 mx-2 corner card shadow border-success mb-3" style="width: 18rem">
        <div class="card-header bg-transparent border-success">Title</div>
        <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
      
    </div>
    <div class="my-4 mx-2 corner card shadow border-success mb-3" style="width: 18rem">
        <div class="card-header bg-transparent border-success">Title</div>
        <div class="card-body text-success">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
        </div>
      
    </div>
</div>


</div>